[user]
	email = tyler@osiset.com
	name = Tyler King
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[core]
	editor = nano -w
[alias]
	conflicts = !git ls-files -u | cut -f 2 | sort -u
