!! Colors (Scorched - Rainglow)
! special
!*foreground:   #baa0a2
!*background:   #160d0e
!*cursorColor:  #baa0a2

! black
!*color0:       #44272a
!*color8:       #44272a

! red
!*color1:       #a54242
!*color9:       #a54242

! green
!*color2:       #d39452
!*color10:      #d39452

! yellow
!*color3:       #e77757
!*color11:      #e77757

! blue
!*color4:       #f6ea82
!*color12:      #f6ea82

! magenta
!*color5:       #a58163
!*color13:      #a58163

! cyan
!*color6:       #bd4549
!*color14:      #bd4549

! white
!*color7:       #707880
!*color15:      #707880

!! Colors (Crackpot - Rainglow)
! special
!*foreground:   #929292
*foreground:   #b3b3b3
*background:   #292740
*cursorColor:  #929292

! black
*color0:       #26243c
*color8:       #26243c

! red
*color1:       #526086
*color9:       #526086

! green
*color2:       #843a42
*color10:      #843a42

! yellow
*color3:       #9b7a45
*color11:      #9b7a45

! blue
*color4:       #5f819d
*color12:      #5f819d

! magenta
*color5:       #85678f
*color13:      #85678f

! cyan
*color6:       #af535d
*color14:      #af535d

! white
*color7:       #c5c8c6
*color15:      #c5c8c6


!! URXVT
! fonts
URxvt.font: xft:Hack:pixelsize=13
URxvt.boldfont: xft:Hack:pixelsize=13

! Disable scrollbars
URxvt*scrollBar: false

! Scrollbar style
URxvt.scrollstyle: plain

! Escape sequences for arrow controls
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! Cursor settings
URxvt.cursorBlink: true
URxvt.cursorUnderline: false

! URL handling
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

!! Cursors
! Theme
Xcursor.theme: Adwaita

! Size
Xcursor.size: 16

!! Rofi
! Mode
rofi.modi: drun

! Command executed on accep-entry-custom for window modus
rofi.window-command: xkill -id {window}

! Do a more fuzzy matching
rofi.fuzzy: true

! Use glob matching
rofi.glob: false

! Use regex matching
rofi.regex: false

! Tokenize input string
rofi.tokenize: true

! Num of results
rofi.lines: 5

! Row height
rofi.eh: 2

! Padding
rofi.padding: 100

! Full screen
rofi.fullscreen: false

! Border width
rofi.bw: 3

! Sep style
rofi.separator-style: none

! Scrollbar
rofi.hide-scrollbar: true


! Colors
!                  background, border, separator
rofi.color-window: #292740, #526086, #9B7A45
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #526086, #B3B3B3, #292740, #9B7A45, #B3B3B3

! Fonts
rofi.font: Hack 12

